# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50



[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50


[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: !skr:P1.27
position_endstop: 0.0
position_max: 175

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

# 5 Axis Things
[force_move]
enable_force_move: True
[mcu skr]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0C40000A28813AAF297C6A5CC02000F5-if00
 
[heater_bed]
heater_pin: skr:P2.5
sensor_type: Generic 3950
sensor_pin: skr:P0.25
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 125

# A motor = bed tilt axis
[manual_stepper a_motor]
step_pin: skr:P2.2
dir_pin: skr:P2.6
enable_pin: !skr:P2.1
microsteps: 16
rotation_distance: 360
gear_ratio: 2:1
full_steps_per_rotation: 400
velocity: 10
accel: 50
endstop_pin: ^!skr:P1.29

[tmc2130 manual_stepper a_motor]
cs_pin: skr:P1.10
spi_software_miso_pin: skr:P0.5
spi_software_mosi_pin: skr:P1.17
spi_software_sclk_pin: skr:P0.4
run_current: 0.700
stealthchop_threshold: 999999


# B motor = bed spin/rotation axis
[manual_stepper b_motor]
step_pin: skr:P0.19
dir_pin: skr:P0.20
enable_pin: !skr:P2.8
microsteps: 16
rotation_distance: 360
full_steps_per_rotation: 400
velocity: 20
accel: 100
endstop_pin: ^!skr:P1.28

[tmc2130 manual_stepper b_motor]
cs_pin: skr:P1.9
spi_software_miso_pin: skr:P0.5
spi_software_mosi_pin: skr:P1.17
spi_software_sclk_pin: skr:P0.4
run_current: 0.700
stealthchop_threshold: 999999

[gcode_macro HOME_A]
variable_a_offset: -28.5
gcode:
  MANUAL_STEPPER STEPPER=a_motor ENABLE=1
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=a_motor MOVE=60 SPEED=20 STOP_ON_ENDSTOP=probe
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=a_motor MOVE=-15 SPEED=16
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=a_motor MOVE=25 SPEED=10 STOP_ON_ENDSTOP=probe
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=a_motor MOVE={printer["gcode_macro HOME_A"].a_offset} SPEED=16
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0

[gcode_macro HOME_B]
variable_b_offset: 12.75
gcode:
  MANUAL_STEPPER STEPPER=b_motor ENABLE=1
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=b_motor MOVE=360 SPEED=20 STOP_ON_ENDSTOP=probe
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=b_motor MOVE=-20 SPEED=20
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=b_motor MOVE=40 SPEED=8 STOP_ON_ENDSTOP=probe
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=b_motor MOVE={printer["gcode_macro HOME_B"].b_offset} SPEED=20
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  
[gcode_macro ENABLE_FIVE_AXIS]
gcode:
  MANUAL_STEPPER STEPPER=a_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=b_motor SET_POSITION=0
  MANUAL_STEPPER STEPPER=a_motor GCODE_AXIS=A LIMIT_VELOCITY=10 LIMIT_ACCEL=50
  MANUAL_STEPPER STEPPER=b_motor GCODE_AXIS=B LIMIT_VELOCITY=20 LIMIT_ACCEL=100

[gcode_macro DISABLE_FIVE_AXIS]
gcode:
  MANUAL_STEPPER STEPPER=a_motor GCODE_AXIS=
  MANUAL_STEPPER STEPPER=b_motor GCODE_AXIS=

[gcode_macro FIVE_AXIS_DEMO]
gcode:
  G28
  HOME_A
  HOME_B
  G90
  G1 Z50 F1200
  ENABLE_FIVE_AXIS
  G92 A0 B0
  G1 X110 Y110 F3000
  G1 X150 Y110 A15 B45 F600
  G1 X150 Y150 A-15 B90 F600
  G1 X110 Y150 A0 B180 F600
  G1 X110 Y110 A0 B0 F600

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


# Fluidd things
[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.747
#*# pid_ki = 2.080
#*# pid_kd = 219.615

